body {
    font-family: "Montserrat";
}

.container .card {
    margin-bottom: 30px;
}

.container .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0;
}

.container .card .card-subtitle {
    font-weight: 300;
    margin-bottom: 10px;
    color: #8898aa;
}

.table-product.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f3f8fa !important;
}

.table-product td {
    border-top: 0px solid #dee2e6 !important;
    color: #728299 !important;
}

.card-group .card {
    margin: 10px;
    transition: box-shadow 0.1s ease-in-out;
}

.card-group .card:hover {
    box-shadow: 0 0 5px rgb(100, 100, 100);
    transition: box-shadow 0.1s ease-in-out;
}




 /* .review-detail-body{
    background-color: blueviolet;
   
   
} */
.review-detail{
    /* background-color:yellow; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
}
.review-body{
     /* background-color: violet; */
    width: 20%;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.458);

    margin-left: 0.5%;
    padding: 1%;
    

   
}

.detail-prom-prod{
    background-color: rgb(90, 12, 12);
    width: 100%;
   border-top:1px solid rgba(0, 0, 0, 0.458); 
   border-bottom:1px solid rgba(0, 0, 0, 0.458); ;
}

.detail-prom-prod h2{
    text-align: center;
}

.detail-estrellas-total{
    background-color: brown; 
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

} 

 @media (max-width: 500px) {
    .review-detail{ 
        display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   
   
       }

       .review-body{
        width: 100%;
       }
} 

 
