* {
    margin: 0;
    padding: 0;
}

html {
    background-color: rgb(255, 253, 239);
}

.detail-content {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    border: solid 3px rgb(134, 134, 134);
    box-sizing: border-box;
    border-radius: 10px;
    margin-left: 25%;
    margin-right: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 5px;
    padding-left: 5px;
    max-width: 50%;
}

.detail.subcontent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.detail-name {
    padding-left: 25%;
}

.detail-description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: solid 3px black;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.185);
    margin-top: 1.5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1.5%;
    padding: 3%;
    font-size: 1.2rem;
    line-height: 2rem;
    align-items: center;
    font-weight: bold;
    min-width: 100px;
    font-family: "Montserrat";
    text-align: justify;
}

.detail-image {
    padding-top: 50px;
    width: 450px;
    height: 450px;
}

.detail-title {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Montserrat";
    text-align: center;
    justify-content: flex-end;
    padding-top: 20px;
    margin-top: 60px;
}