.admin-review-madre{
    background-color: brown;
    /* display: flex; */
}
.admin-review-contenedor{
    background-color: rgba(223, 226, 43, 0.555);
    display: flex;;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    /* align-content: center; */
    /* align-content: space-between; */
}
.mmmmm{
    background-color: rgba(255, 0, 0, 0.37);
    /* justify-content: space-between; */
    display: inline-flex;
    width:25%;
    /* margin-top: 12px ; */
    /* height: 500px;  */
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.aaaaaaaa{
    background-color: rgba(55, 0, 255, 0.616);
    display: inline-flex; 
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: space-around;
    

    width: 25%;
    /* padding: 15%; */
    margin-top: 5px;
    /* height: 80%; */
}
.admin-review-boton{
    background-color: rgba(245, 245, 220, 0.733);
    display: flex;
    width: 2%;
    height: 5%;
    /* padding: 50%;
    margin-left: 5px; */
}
