.reviewCard-contenedor{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: aqua;
    width: 30%;
    padding: 2%;
    box-sizing: border-box;
}
.reviewCard-items{
    background-color: crimson;
    text-align: center;
    width: 80%;
}
.reviewCard-star{
    background-color:rgba(0, 38, 255, 0.473);
    text-align: center;
    padding-left: 36% ;
    padding-right: auto;
}
.reviewCard-x{
    background-color:rgba(21, 255, 0, 0.473);
    text-align: center;
    padding-left: 88%;
    padding-right: auto;
}