
.Login-body{
    background-image: url('../../img/blur.jpg');
    background-size: cover;
    background-color: rgb(83, 83, 83);
    height: 100vh;
}

.Login-title{
    color: white;
    font-size:25px;
    text-align: center;
    margin-bottom: 10px;
    /* background-color: aquamarine; */
}
.Login-card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.529);
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    padding: 1%;
    height: 50%;
    padding: 2%;
}
.Login-card-items{
    /* background-color: red; */
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-right: auto;
    color:white;
    margin-top: 1%;
}
.Login-text{
    color:white
}

.Login-card label{
    color: white;
    width: 100%;
   
}

.Login-card-items input{
    background-color: rgba(255, 255, 255, 0.491);
    border-color: transparent;
   width: 100%;
}
.Login-btn-google{
    background-color: rgba(0, 0, 0, 0.635);
    color: white;
}

@media (max-width: 850px) {
    .Login-card{
        width:60%;
    }
  
   
   
  } 

  @media (max-width:600px) {
    .Login-card{
        width:80%;
    }
  
   
   
  } 