
.viewUsers-cont{
    /* background-color: rgb(132, 212, 241); */
    padding: 10%;
    width: 60%;
}
.viewUsers-cont-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* background-color: bisque; */
    
   
}
.viewUsers-cont-row .items{
    background-color: rgb(255, 255, 255);
    width: 50%;
    text-align: start;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    word-break:break-all;
    border-top: 0.5px solid #000000;
}


.viewUsers-cont-row-title .title-items{
    /* background-color: rgba(56, 56, 56, 0.523); */
    width: 50%;
    text-align: start;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    word-break:break-all;
  

}
.title-items{
    background-color: rgba(0, 0, 0, 0.533);
    width: 50%;
    text-align: start;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    word-break:break-all;
   
}

