/* .selector {
    font-size: 15px;
    font-weight: bold;
    font-family: "Montserrat";
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 5px 5px;
}

.selector:focus,
.selector:hover {
    color: #ffb300;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

@media (max-width: 880px) {
    .selector {
        background-color: rgb(146, 253, 253);
    }
} */