.selector {
    font-size: 15px;
    font-weight: bold;
    font-family: "Montserrat";
    color: rgb(0, 0, 0);
    background-color: hsl(0, 0%, 69%);
    border-radius: 10px;
    margin-left: 10px;
    cursor: pointer;
}