a:link,
a:visited,
a:active {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.div-key-card {
  width: 20.5%;
  min-width: 250px;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}

.button {
  font-size: 15px;
  font-weight: bold;
  font-family: "Montserrat";
  color: rgb(0, 0, 0);
  background-color: hsl(0, 0%, 0%);

  cursor: pointer;
  text-align: center;

  color: white;
  transition: background-color 0.1s ease-in-out;
  display: flex;
  margin-bottom: -2%;
}
.button-shop {
  width: 94%;
  margin-left: 0;
  color: #f5f5f5;
  background-color: #3c3c3c;
  border-radius: 5px;
  margin: 5px;
  transition: background-color 0.1s ease-in-out;
  font-family: "Montserrat";
  font-weight: bold;
  bottom: 0;
  top: auto;
}

.button-fav {
  width: 30px;
  height: 30px;
  margin-left: 0;
  right: 0;
  left: auto;
  top: 0;
  bottom: auto;
  position: absolute;
  color: rgb(0, 0, 0);
  border-radius: 100%;
  margin: 5px;
  font-size: large;
  transition: background-color 0.1s ease-in-out;
}

.button:hover,
.button-shop:hover {
  cursor: pointer;
  background-color: rgb(100, 100, 100);
  transition: background-color 0.1s ease-in-out;
}

.button-fav:hover {
  cursor: pointer;
  background-color: rgb(215, 60, 60);
  transition: background-color 0.1s ease-in-out;
}

.button svg {
  size: 50px;
}

.forms-title,
label {
  margin: 15px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Montserrat";
  width: fit-content;
}

.forms-title {
  font-size: 35px !important;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 25vh;
  width: 100%;
  background-color: rgb(50, 50, 50);
  justify-content: center;
}

.footer .text {
  margin-top: 15px;
  margin-left: 50px;
  margin-right: 50px;
  color: #f5f5f5;
  font-weight: bold;
  font-family: "Montserrat";
}

.banner-img {
  width: 100%;
  min-width: 600px;
}

/* 👇👇👇aqui yacen los restos del modo oscuro 👇👇👇*/

html {
  --primary-color: #000000;
  --secondary-color: #ebebeb;
  --third-color: #000000;
}

html[data-theme="dark"] {
  --primary-color: #ebebeb;
  --secondary-color: #000000;
  --third-color: #eeb305;
}

body {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.pagination-button,
.pagination-number {
  color: var(--third-color);
}
