a:link,
a:visited,
a:active {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.div-key-card {
    width: 20.5%;
    min-width: 250px;
}

.div-body {
    background-color: rgb(255, 253, 239);
}

.card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.button {
    font-size: 13px;
    font-weight: bold;
    font-family: "Montserrat";
    width: fit-content;
    height: 50px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    margin: 10px;
    transition: background-color 0.1s ease-in-out;
}

.button-shop {
    width: 50px;
    margin-left: 0;
    position: absolute;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    margin: 5px;
    transition: background-color 0.1s ease-in-out;
}

.button-fav {
    width: 50px;
    height: 50px;
    margin-left: 0;
    right: 0;
    left: auto;
    position: absolute;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    margin: 5px;
    transition: background-color 0.1s ease-in-out;
}

.button:hover,
.button-shop:hover,
.button-fav:hover {
    cursor: pointer;
    background-color: rgb(175, 175, 175);
    transition: background-color 0.1s ease-in-out;
}

.button svg {
    size: 50px;
}

.forms-title,
label {
    margin: 15px;
    font-size: 20px;
    font-weight: bold;
    font-family: "Montserrat";
    width: fit-content;
}

.forms-title {
    font-size: 35px !important;
}