.user-profile-contenedor {
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  /* align-items:center; */
}
.aaaaaaa {
  /* background-color: gold; */
  display: inline-flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  justify-content: space-around;
  /* align-items: center; */
  width: 20%;
  height: 12%;
  margin-top: 5px;
}

@media (max-width: 780px) {
  .aaaaaaa {
    margin-left: 6%;
    display: inline-block;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 40%;
    /* flex-direction: column; */
  }
}
@media (max-width: 415px) {
  .aaaaaaa {
    margin-left: 20%;
    display: inline-block;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 60%;
    /* flex-direction: column; */
  }
}

.boton-editar-rev {
  /* background-color: chartreuse; */
  width: 10%;
  display: flex;
  justify-content: end;
  margin-right: auto;
  margin-left: 50%;
  margin-bottom: 2%;
  /* border: rgba(16, 178, 184, 0.918); */
}

button {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  /* display: inline-block; */
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 10px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 3px;
  /* position: relative; */
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
 }
 
 button:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
 }
 
 button:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
 }
 
 button:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
 }
 
 button:focus {
  outline: 1px transparent;
 }
 
 button:before {
  display: none;
 }
 
 button:-webkit-details-marker {
  display: none;
 }

.emp-profile {
  /* width: 100%; */
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: rgba(78, 78, 78, 0.226);
}
.profile-img {
  text-align: center;
}
.profile-img img {
  /* width: 50%; */
  border-radius: 50%;
  height: 100%;
  margin-left: 130%;
}
@media (max-width: 780px) {
  .profile-img img {
    margin-left: 6%;
  }
  .positionBtn {
    left: 38%;
    width: 40%;
    padding: 1%;
  }
}
@media (max-width: 550px) {
  .profile-work {
    /* background-color: brown; */
    /* text-align: initial; */
    /* left: 50%;  */
    width: 100%;
  }
}

.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}
.profile-head h5 {
  color: #333;
}
.profile-head h6 {
  color: #0062cc;
}
/* .btnpos{
    display: flex;
    position: absolute;
    margin-top: 65vh;
    left: 12%; */

.positionBtn {
  position: relative;
  width: 12%;
  margin-top: 20%;
  margin-left: 11%;
}

.profile-edit-btn {
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 5%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
  /* margin-left: 300%; */
}
.proile-rating {
  font-size: 12px;
  color: #818182;
  margin-top: 5%;
}
.proile-rating span {
  color: #495057;
  font-size: 15px;
  font-weight: 600;
}
.profile-head .nav-tabs {
  margin-bottom: 5%;
}
.profile-head .nav-tabs .nav-link {
  font-weight: 600;
  border: none;
}
.profile-head .nav-tabs .nav-link.active {
  border: none;
  border-bottom: 2px solid #0062cc;
}

.infoposition {
  /* background-color: #0062cc; */
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  position: relative;
  margin-top: 3%;
  /* margin-left: 32%; */
  /* width: 40%; */
  /* background-color: aqua; */
  margin-right: auto;
}
.profile-work {
  /* background-color: beige; */
  /* padding: 5%; */
  display: inline-flex;
  margin-top: 0px;
  flex-wrap: wrap;
  flex-direction: column;
  /* justify-content: center; */
  width: 30%;
  position: relative;
  margin-left: 35%;
  text-align: center;
}

.profile-work p {
  font-size: 12px;
  color: #818182;
  font-weight: 600;
  margin-top: 10%;
}
.profile-work a {
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  font-size: 14px;
}
.profile-work ul {
  list-style: none;
}
.profile-tab label {
  font-weight: 600;
}
.profile-tab p {
  font-weight: 600;
  color: #0062cc;
}
