div,
a {
    width: fit-content;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
}

.card-main,
.card,
.card-imagen,
.card-content,
.card-title,
.card-body {
    background-color: rgb(255, 255, 255, 0.5);
}

.card-main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
    margin: 15px;
    margin-bottom: 50px;
    font-family: "Montserrat";
    height: 85%;
    transition: box-shadow 0.2s ease-in-out;
}

.card-main:hover {
    box-shadow: 0 0 40px rgb(170, 150, 100);
    transition: box-shadow 0.2s ease-in-out;
}

.card {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.card-imagen {
    width: 50%;
    margin: auto;
}

.card-body {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.card:hover .card-body {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.card-brand,
.card-alcohol,
.card-ml {
    font-size: large;
}

.card-price {
<<<<<<< HEAD
    font-size: xx-large;
    margin: 0;
    justify-items: center;
}
=======
  font-size: xx-large;
  margin: 0;
  justify-items: center;
}

.swal-overlay{
  width: 100%;
}
.swal-button {
  background-color: rgba(170, 150, 100, 0.744);
}

>>>>>>> 5bd2fef71096d16adef41b2a4748ce00a1721ad1
