.ProductsStats-body{
    /* background-color: rgba(0, 0, 255, 0.621); */
    text-align: center; 
    font-size: 15px;
    font-weight: bold;   
}

.ProductsStats-conteiner{
    margin-top: 10%;
    /* background-color: rgba(255, 255, 0, 0.435); */
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;  
    border: 1px solid #808080;
    word-break: break-all;
   

}


@media (max-width: 850px) {
    .ProductsStats-display{
        display: none;
        width: 50%;
    }
    .ProductsStats-table{
        font-size: 13px;
        width: 20%;
        

    }
   
} 
   


