.viewproducts-cont{
    background-color:transparent; 
    text-align: center; 
    font-size: 20px;
    font-weight: bold;
   
   
}
.viewproducts-borde{
    margin-top:10%;
    /* background-color: rgb(179, 175, 120); */
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
    box-sizing: border-box;  
    border: 1px solid #808080;
    word-break: break-all;
  

}

.viewproducts-cont-btn{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

}

.viewproducts-btn{
    border-color: transparent;
    background-color: transparent;
}
.viewproducts-table{
    background-color: blueviolet;
    width: 80%;
}

@media (max-width: 850px) {
    .viewproducts-display{
        display: none;
    } 
    
}

@media (max-width:700px) {
    .viewproducts-detail{
        width: 20%;
       
        
     }  
}
