.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 25vh;
    width: 100%;
    background-color: rgb(50, 50, 50);
    padding: 1%;
}

.footer .text {
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 50px;
    color: #F5F5F5;
    font-weight: bold;
    font-family: "Montserrat";
}

.footer .about {
    text-align: center;
}

.footer .hecho { 
    margin-top: 2%;
    text-align: center;
    color: white;
}