.checkout-div-main {
    font-family: "Montserrat";
}

.checkout-div-render {
    display: flex;
     flex-wrap: wrap; 
   
}
.checkout-div-info{
     flex-direction: row-reverse;
}

.checkout-product {
    width: 30%;
    display: flexbox;
    background-color: blue;
    margin-right: 10%;
   
}

.checkout-product h2 {
    text-align: center;
    max-width: 33%;
    margin-left: 66%;
    font-size: medium;
}

.checkout-product-delivery {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 70vh;
    min-height: 500px;
}

.checkout-ul {
    display: grid;
    grid-template-columns: repeat(3, 33%);
}

.checkout-ul li {
    list-style: none;
    text-align: center;
    padding: 1%;
}