.register-background {
    height: 90vh;
}

.register-background>img {
    height: 100vh;
    width: 100vw;
}

.button-home {
    font-size: 15px;
    font-weight: bold;
    font-family: "Montserrat";
    color: rgb(0, 0, 0);
    background-color: hsl(0, 0%, 69%);
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    padding: 5px 10px;
    color: white;
    transition: background-color 0.1s ease-in-out;
    position: absolute;
    top: 5%;
    left: 5%;
}

.button-register {
    font-size: x-large;
    font-weight: bolder;
    font-family: "Montserrat";
    background-color: hsl(0, 0%, 50%);
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    padding: 5px 10px;
    color: white;
    transition: background-color 0.1s ease-in-out;
    position: absolute;
    top: 56vh;
    left: 13vw;
}

.button-home:hover,
.button-register:hover {
    cursor: pointer;
    background-color: rgb(100, 100, 100);
    transition: background-color 0.1s ease-in-out;
}

.register-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: baseline;
    position: absolute;
    top: 30vh;
    left: 10vw;
    height: 55vh;
    width: 35vw;
    min-width: 450px;
    background-color: #614e45b0;
}

.register-logo {
    position: absolute;
    top: 3%;
    bottom: auto;
    left: 3%;
    right: auto;
    height: 20%;
    opacity: 80%;
    transition: opacity 0.1s ease-in-out;
}

.register-logo:hover {
    opacity: 100%;
    transition: opacity 0.1s ease-in-out;
}

.forms-title {
    margin-top: 2vh;
    margin-left: 10vw;
    margin-right: 10vw;
}

.label-input {
    display: flex;
    flex-wrap: wrap;
}

.register-input {
    font-size: 15px;
    font-weight: bold;
    font-family: "Montserrat";
    background-color: #f5f5f5;
    cursor: pointer;
    padding: 5px 10px;
    color: hsl(0, 0%, 40%);
    width: 15vw;
}

.register-span {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: bold;
    color: rgb(255, 217, 0);
}